.contact__container {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--main-bg);
    min-height: var(--main-height);
    display: flex;
}

.contact__form {
    background-color: #FFF;
    margin: 3rem auto;
    padding: 3rem;
    flex-basis: 40%;
}

h1 {
    font-size: 1.8em;
    color: #4a4a4a;
}

.contact--text {
    font-size: 1.1em;
}

.contact--text strong {
    color: #222;
}

.contact__button {
    background-color: #095caa;
}

.contact__button:hover {
    background-color: #086fcf;
}

@media screen and (max-width: 500px) {
    .contact__form {
        margin: 3rem auto;
        /* flex-basis: 90%; */
    }
}