.forget__forground {
    background-color: #ecfcdf31;
    border: 1.5px solid #00849e;
    margin: 15rem auto;
    padding: 3rem;
    flex-basis: 40%;
}

.forget__background {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--main-bg);
    min-height: var(--main-height);
    display: flex;
}

@media screen and (max-width: 1200px) {
    .forget__forground {
        margin: 15rem auto;
        flex-basis: 90%; 
    }
}